nav {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

img {
    width: 150px;
}

.text {
    padding-top: 40px;
    font-size: 30px;
}

#pic {
    width: 1700px;
    padding-top: 100px;
    padding-left: 50px;
}